<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="index.html">
            <img src="./../../../assets/images/corona1.png" alt="Homepage">
        </a>
    </div>
 
    <nav class="header-nav">

        <a href="" class="header-nav__close" title="close"><span>Close</span></a>

        <div class="header-nav__content">
            <h3>Descubre</h3>

            <ul class="header-nav__list">
                <li class="current"><a class="smoothscroll" href="index.html" title="home">Home</a></li>
                <li><a class="smoothscroll" (click)="navigate('contact')" title="about">Pedir Lyrics</a></li>
                <li><a class="smoothscroll" (click)="navigate('order')" title="services">Descargas</a></li>
                <li><a class="smoothscroll"(click)="navigate('about')" >Nosotros</a></li>
                <li><a class="smoothscroll" >Servicios</a></li>
            </ul>

            <p>En Letras del Alma comparto las letras de mis canciones favoritas para que puedas disfrutarlas y cantarlas. Si te gusta la música tanto como a mí, suscríbete y descubre nuevos lyrics cada semana.</p>

            <ul class="header-nav__social">
                <li>
                    <a (click)="sendMail()"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@letrasdelalma9782" target="_blank"><i
                            class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@letrasdelalma58?is_from_webapp=1&sender_device=pc"
                        target="_blank"><i class="bi bi-tiktok"></i></a> <!-- TikTok -->
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->