<!-- about
    ================================================== -->
<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Somos</h3>
            <h1 class="display-2">Letras del Alma</h1>
        </div>
    </div> <!-- end section-header aqui -->

    <div class="row services-list block-1-2 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-music"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Del sentimiento...</h3>
                <p>
                    Letras del Alma nació de mi enorme pasión por la música. Comencé haciendo letras de canciones
                    vallenatas y de artistas del folclore. Recuerdo que mi primer video fue de Los Diablitos del
                    Vallenato. También hemos creado letras de artistas como Silvestre Dangond, Jorge Celedón y algunos
                    más que ahora no recuerdo.

                    Siempre me ha fascinado la música por sus letras y por las emociones que transmite. Es increíble
                    cómo nuestro estado de ánimo puede cambiar la percepción de lo que escuchamos. Por eso, creo los
                    lyrics de las canciones: para recordar y visualizar lo que mis oídos sienten.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Al cambio</h3>
                <p>
                    La verdad, nos consideramos personas abiertas a escuchar todo tipo de música. Como todos, tenemos
                    nuestras preferencias, pero eso no impide que disfrutemos de distintos géneros. Aunque me considero
                    un amante del vallenato, también adoro la salsa, me encanta la bachata y sé apreciar un buen
                    reguetón. Puedo estar escuchando un clásico de Kanner Morales y terminar disfrutando una canción de
                    Kiss.

                    Por eso, hago letras de cualquier tipo de música, siempre y cuando el mensaje que transmite no
                    afecte directamente a alguien. Me gusta ser más sutil en ese sentido
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-wrench"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Que cancion hacer?</h3>
                <p>
                    Escoger una canción a veces puede ser un problema, porque siempre debo tomar una decisión que
                    equilibre mis gustos, los de los demás y la respuesta que espero. Por lo general, subo mis videos
                    para luego usarlos como estado, esa fue la razón original por la que empecé a hacer lyrics. Después,
                    simplemente los comparto con ustedes, por eso no presto mucha atención a las vistas.

                    Como a veces no sé qué canción elegir, creé la sección de 'Pedir Lyrics', donde puedes enviarme la
                    canción que quieras y yo me encargaré de hacerle su letra
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="icon-earth"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Una buena foto</h3>
                <p>
                    Esta es la parte que más odio y con la que más lucho. En este sentido, soy la persona más indecisa
                    que existe. Cada vez que encuentro una imagen, mi cerebro me dice que puede haber una mejor y, sin
                    darme cuenta, ha pasado una hora y sigo sin elegir la imagen perfecta.

                    Esta etapa en la creación de los lyrics no me gusta nada. De hecho, muchas veces no subo videos
                    simplemente porque no encuentro una imagen que, según yo, se adapte bien a la canción.
                </p>
            </div>
        </div>


    </div> <!-- end services-list -->

</section> <!-- end s-services -->