<footer>

    <div class="row footer-main">

        <div class="col-six tab-full left footer-desc" style="text-align: justify;">
            <div class="footer-logo-container">
                <div class="footer-logo"></div>
                <span class="footer-text">Letras del Alma</span>
            </div>
            Letras del Alma es un proyecto que nació de mi pasión por la música y la escritura. Siempre me ha encantado crear letras para las canciones que amo y compartir la música que escucho. Desde hace mucho tiempo, he escrito letras para mis canciones favoritas, pero fue en 2021 cuando decidí subirlas a YouTube y, el año pasado, comenzar a compartirlas en TikTok. Por ahora, estas son las únicas dos plataformas en las que publico contenido.


        </div>

        <div class="col-six tab-full right footer-subscribe">
            <div class="footer-logo-container" >
                <span class="footer-text"style="margin: 2.4rem 0 3.6rem 0;">Mira esto</span>
            </div>
            <p style="text-align: justify;">Además de mi amor por la música, soy desarrollador web. De hecho, esta página que estás viendo la creé yo mismo utilizando un framework llamado Angular. Si alguna vez necesitas una página web o un e-commerce para tu negocio o proyecto personal, no dudes en escribirme.
                Actualmente, esta página está en fase beta, pero pronto tendremos nuestro dominio oficial. No olvides suscribirte a mi canal haciendo clic en el botón de al lado.
                ¡Gracias por tu apoyo y nos vemos pronto! 🎶🔥</p>

            <div class="subscribe-form">
                <a class="full-width btn--primary" href="https://www.youtube.com/@letrasdelalma9782">Suscribete <i
                    class="fa fa-youtube-play" aria-hidden="true"></i></a>
                
            </div>

        </div>

    </div> <!-- end footer-main -->

    <div class="row footer-bottom">

        <div class="col-twelve">
            <div class="copyright">
                <span>Letras del Alma 2025</span>
                <span>Site Template by <a href="https://www.colorlib.com/">Colorlib</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"
                        aria-hidden="true"></i></a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> <!-- end footer -->